# dependencies
node_modules/
.pnpm-store/

# builds
dist/
build/
out/
.next/
.turbo/
*.tsbuildinfo

# env
.env
.env.*
!.env.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-error.log*

# test / coverage
coverage/
.vitest/

# editors & os
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
